[defaults]
inventory = inventory
remote_user = ansible
collections_paths = collections:/usr/share/ansible/collections:/etc/ansible/collections

[privilege_escalation]
become = true
become_method = sudo
become_user = root
